* {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100vh;
}

.header {
    color: white;
    width: 100%;
    text-align: center;
    margin-top: 100px;
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#myVideo {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -5;
}